<div class="col-xs-12 col-md-12">
        <!--<div>-->
            <!---->
            <!--<blockquote class="blockquote">-->
                <!--<p class="mb-0">Our goal is to provide easy and innovative ways for you to contribute to somethings you care.</p>-->
            <!--</blockquote>-->
            <!--<p class="text-xs-center">‘Little Drops’ enables a supporter to instantly and regularly contribute to a cause, organization, group or anything they care, with no monetary expense at all. All you need is a heart to help and a few clicks.</p>-->
        <!--</div>-->
</div>