<div class="col-xs-12 col-md-12">
    <div>
        <a  ng-click="addFoodJoint()"class="pull-md-right btn btn-outline-primary">Add FoodJoint</a>
        <p   class="display-4">View FoodJoints</p>
    </div>


    <script type="text/ng-template" id="addFoodJoint.html">
        <div class="modal-header">
            <h3>FoodJoint</h3>
        </div>
        <form class="form-inline" name="foodjoint" >

            <!-- One Col -->
            <div class="form-group two-col">
                <label for="name">Name</label>
                <input type="text" ng-model="foodJoint.name" name="name" id="name" class="form-control">
            </div>
            <div class="form-group two-col">
                <label for="delay_time">Delay Time</label>
                <input type="text" ng-model="foodJoint.delay_time" name="delay_time" id="delay_time" class="form-control">
            </div>
            <!-- End One Col -->

            <!-- Two Col -->
            <div class="form-group three-col">
                <label for="open_time">Open Time</label>
                <input type="text" ng-model="foodJoint.open_time" name="open_time" id="open_time" class="form-control">
            </div>
            <div class="form-group three-col">
                <label for="closed_time">Close Time</label>
                <input type="text" ng-model="foodJoint.closed_time" name="closed_time" id="closed_time" class="form-control">
            </div>
            <div class="form-group three-col">
                <label for="wait_time">Wait Time</label>
                <input type="text" ng-model="foodJoint.wait_time" name="wait_time" id="wait_time" class="form-control">
            </div>
            <!-- End Two Col -->
            <div class="form-group four-col">
                <label for="helper_total">Helper Total</label>
                <input type="text" ng-model="foodJoint.helper_total" name="helper_total" id="helper_total" class="form-control">
            </div>
            <div class="form-group four-col">
                <label for="helper_efficiency">Helper Efficiency</label>
                <input type="text" ng-model="foodJoint.helper_efficiency" name="helper_efficiency" id="helper_efficiency" class="form-control">
            </div>
            <div class="form-group four-col">
                <label for="chef_total">Chef Total</label>
                <input type="text" ng-model="foodJoint.chef_total" name="chef_total" id="chef_total" class="form-control">
            </div>
            <div class="form-group four-col">
                <label for="chef_efficiency">Chef Efficiency</label>
                <input type="text" ng-model="foodJoint.chef_efficiency" name="chef_efficiency" id="chef_efficiency" class="form-control">
            </div>

            <div class="modal-footer">
                <p class="pull-md-left" ng-show="isRes">{{resMsg}}</p>
                <button class="btn btn-warning" ng-click="cancel()">Close</button>
                <input type="submit" class="btn primary-btn" value="Submit" ng-click="submit()" />
            </div>
        </form>
    </script>
        <div class="bd-example ">
            <div ng-repeat="foodjoint in foodJoints">
                <div class="card">
                    <img class="card-img-top" ng-src="{{foodjoint.logo}}" alt="{{foodjoint.name}}">
                    <div class="card-block">
                        <h4 class="card-title">{{foodjoint.name}}</h4>
                        <p class="card-text">open_time: {{foodjoint.open_time}} closed_time : {{foodjoint.closed_time}}</p>
                        <a href="#/food/{{foodjoint.fjID}}" class="btn btn-primary">View Food</a>
                    </div>
                </div>
            </div>
        </div>
</div>